
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.container {
    margin: 0 auto;
    align-items: center;
  
    
}
.Card {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 370px;
    padding-top: 150px;
}

.business {
    border-radius: 8px;
    max-width: 50%;
    z-index: 1;
    position: relative;
}
.avatar {
    border-radius: 100%;
    max-width: 45px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    margin: 10px;
}

.overlay {
    z-index:2;
    position: absolute;
    top: 0;
    left: 0;
    width:40% ;
    padding-top: 360px;
    margin-left: 129px;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    font-size: 24px;
    font-family: "Poppins";
    max-width:  350px;
    color: rgb(17,23,41);
  }
  p {
    color: rgb(103,116,137);
    font-family: "Lato";
    padding-left: 12px;
    
  }
  small {
    color: rgb(103,116,137);
    font-family: "Lato";
    margin: 10px;
  }
  
  .smallText {
    font-size: 16px;
  }
  strong {
   display: inline-block;
   vertical-align: middle;
  }

  .separador {
    margin: 20px 0;
    border: 1px solid rgb(242, 245, 249);
    max-width: 50%;
  }


  .footerContainer {
    display: flex;
    align-items: center;
  }